* {
  padding: 0;
  margin: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
.Home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ff6961;
}
.nav {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .navItem {
    color: white;
    display: flex;
    width: 100vh;
    justify-content: space-around;

    p {
      font-weight: lighter;
      &:hover {
        text-decoration: underline solid white;
        cursor: pointer;
        line-height: 10px;
      }
    }
  }
}
