.About {
  // width: 100vw;
  // height: 100vh;
  padding: 0 100px;
  padding-top: 100px;
  background-color: #08080dd8;
  color: white;
  height: 100vh;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: Bold 700;
  font-size: 40px;
  padding: 0px;
}
hr {
  width: 25px;
  height: 3px;
  border: 1px solid #ff6961;
  background-color: #ff6961;
}
.socialsWrapper {
  padding-top: 5px;
}
.topBar {
  display: flex; //for mobile change it to
  // width: 50%;
}
.topBarSecond {
  display: flex;
  flex-direction: column;
}
.topBarSecond-first {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-between;
  p {
    padding-right: 20px;
    &:hover {
      text-decoration: underline solid #ff6961;
      cursor: pointer;
    }
  }
}
.introduction {
  padding: 25px 0;
  font-family: "Share Tech", sans-serif;
  font-weight: lighter;
  line-height: 20px;
  // color: #504e4e;
  // color: rgb(206, 205, 205);
  color: white;
}
#paragraph {
  max-width: 450px;
}
.bio {
  h3 {
    // color: #504e4e;
    // color: rgb(206, 205, 205);
  }
}
.skater {
  width: 100%;
}
.socials {
  width: 1.75%;
}
.learnMore {
  hr {
    display: none;
  }
  &:hover {
    cursor: pointer;
    hr {
      display: block;
    }
  }
  .text {
    display: flex;
    align-items: center;
    p {
      padding-right: 15px;
      color: #ff6961;
    }
    img {
      width: 25px;
      padding-top: 2px;
    }
  }
}
@media (max-width: 600px) {
  .topBar {
    display: flex; //for mobile change it to
    flex-direction: column;
  }
  h2 {
    font-size: 20px;
  }
  .About {
    // width: 100vw;
    // height: 100vh;
    padding: 0 50px;
    padding-top: 100px;
    background-color: #08080dd8;
    color: white;
    height: 100vh;
  }
}
