* {
  /* overflow-y: hidden; */
  padding: 0;
  margin: 0;
}
.hideOnWeb {
  display: none;
}
@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .hideOnWeb {
    display: inline;
  }
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
